.container{
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}

body{
  background-color: rgb(251, 251, 251);
}

/* Header */
.header {
  text-align: center;
}

/* Footer */
.footer{
  text-align: left;
  padding: .5rem;
  background-color: rgb(85, 84, 83);
  color: rgb(251, 251, 251);
}
.footer p{
  margin: 0;
  font-size: 11pt;
}
.footer a{
  text-decoration: none;
  color: rgba(172, 208, 255, 0.671);
}